//header
.header {
    .logo {
        width: 85px;
    }
    .placeholder {
        display: none;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 40px;
        .logo {
            width: 190px;
        }
        .search {
            width: 360px;
        }
        .placeholder {
            display: block;
        }
    }
    @include media-breakpoint-up(xl) {
        .search {
            width: 432px;
        }
    }
}
//border
.custom-border-0 {
    border: none;
}
.custom-border {
    border: 1px solid $black;
}
.custom-border-top {
    border-top: 1px solid $black;
}
.custom-border-bottom {
    border-bottom: 1px solid $black;
}
.custom-border-start {
    border-left: 1px solid $black;
}
.custom-border-end {
    border-right: 1px solid $black;
}
.border-lg-top {
    @include media-breakpoint-up(lg) {
        border-top: 1px solid $black;
    }
}
.border-lg-top-0 {
    @include media-breakpoint-up(lg) {
        border-top: none !important; 
    }
}
.border-lg-bottom {
    @include media-breakpoint-up(lg) {
        border-bottom: 1px solid $black;
    }
}
.border-lg-start {
    @include media-breakpoint-up(lg) {
        border-left: 1px solid $black;
    }
}
.border-lg-end {
    @include media-breakpoint-up(lg) {
        border-right: 1px solid $black;
    }
}
.border-lg-none {
    @include media-breakpoint-up(lg) {
        border: none;
    }
}

.border-2 {
    border-width: 2px;
}
//footer
.footer {
    border-top: 1px solid $black;
    .top-border {
        border-top: 4px solid $black;
    }
}

//background
.bg-black {
    background: $black;
}

//background-image
.basic-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 372px;
}
.img-lg-h100 {
    @include media-breakpoint-up(lg) {
        height: 100%;
    }
}

//vertical-align
.vertical-align-middle {
    vertical-align: middle;
}

//align-text
// .custom-text-start {
//     text-align: left;
// }
// .custom-text-end {
//     text-align: right;
// }