//index
.hero {
    max-width: 1297px; 
    margin: 0 auto;
    .item-1-image {
        width: 100%;
        @include media-breakpoint-up(md) {
            width: 67%;
        }
    }
}
.hero-1 {
    position: relative;
    .recommend-en {
        writing-mode: vertical-rl;
    }
    .recommend-tc {
        writing-mode: vertical-lr;
    }
    .title {
        font-size: 24px;
        @include media-breakpoint-up(md) {
            font-size: 48px;
        }
    }
}
.hero-2-3 {
    .title {
        font-size: 24px;
        @include media-breakpoint-up(md) {
            font-size: 32px;
        }
    }
    @include media-breakpoint-up(lg) {
        height: 340px;
    }
}
.hero-1-img {
    background-image: url("../images/art01.jpg");
}
.hero-2-img {
    background-image: url("../images/art02.jpg");
}
.hero-3-img {
    background-image: url("../images/art21.jpg");
}

.ranking-1-img {
    background-image: url("../images/art04.jpg");
}
.ranking-2-img {
    background-image: url("../images/art05.jpg");
}
.ranking-3-img {
    background-image: url("../images/art06.jpg");
}
.ranking-4-img {
    background-image: url("../images/art13.jpg");
}
.ranking-5-img {
    background-image: url("../images/art07.jpg");
}
.ranking-6-img {
    background-image: url("../images/art08.jpg");
}
.ranking-1-img,.ranking-2-img,.ranking-3-img {
    width: 100px;
    height: 100%;
    @include media-breakpoint-up(lg) {
        width: 100%;
        height: 374px;
    }
}
.ranking-4-img,.ranking-5-img,.ranking-6-img {
    width: 100px;
    height: 100%;
}
.ranking-item-lg {
    .number,.btn {
        z-index: 50;
    }
    .btn{
        display: none;
    }
    &:hover {
        .basic-img {
            position: relative;
            &::after {
                content:"";
                width: 100%;
                height: 100%;
                background: $black;
                opacity: 0.5;
                position: absolute;
                top: 0; bottom: 0; right: 0; left: 0;
                z-index: 10;
            }
            .btn {
                @include media-breakpoint-up(lg) {
                    display: block;
                    position: absolute;
                    bottom: 0; right: 0;
                }
            }
        }
    }
}
.ranking-item-sm {
    .text {
        display: none;
    }
    &:hover {
        .text {
            display: block;
            z-index: 30;
            padding-top: 38px;
        }
        .basic-img {
            position: relative;
            &::before {
                content:"";
                width: 100%;
                height: 100%;
                background: $black;
                opacity: 0.5;
                position: absolute;
                top: 0; bottom: 0; right: 0; left: 0;
                z-index: 1;
            }
            &::after {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                border: 8px solid;
                border-color: transparent $secondary $secondary transparent;
                bottom: 0px;
                right: 0px;
                z-index: 20;
            }          
        }
    }
}

.artist {
    .btn {
        bottom: 8px;
        right: 8px;
        @include media-breakpoint-up(lg) {
            bottom: 24px;
            right: 24px;
        }
    }
    .name {
        line-height: 1;
    }
    .text {
        background: rgba(255, 255, 255, 0.5);
        bottom: 24px; left: 24px;
        width: 100%;
        @include media-breakpoint-up(lg) {
            width: 50%;
        }
    }
}
.artist-1-img {
    background-image: url("../images/artist01.jpg");
    height: 50%;
    filter: grayscale(100%);
    filter: gray;
    margin-top: 100px;
}
.artist-2-img {
    background-image: url("../images/artist02.jpg");
}
.artist-3-img {
    background-image: url("../images/artist03.jpg");
    height: 50%;
    filter: grayscale(100%);
    filter: gray;
    margin-top: 100px;
}

.artwork-hover {
    .btn,.note {
        display: none;
    }
    .text {
        width: 90%;
    }
    &:hover {
        .image {
            position: relative;
        }
        .btn,.note {
            position: absolute;
            display: block;
            z-index: 30;
        }
        .btn {
            bottom: 16px;
            right: 16px;
            @include media-breakpoint-up(xxl) {
                bottom: 32px;
                right: 32px;
            }
        }
        .note {
            top: 16px;
            left: 16px;
            @include media-breakpoint-up(xxl) {
                top: 32px;
                left: 32px;
            }
        }
        .image::after {
            content:"";
            width: 100%;
            height: 100%;
            position: absolute;
            background: #000;
            top: 0; bottom: 0; left: 0; right: 0;
            opacity: .7;
            z-index: 10;
        }
    }
}

.join-us {
    .icon {
        font-size: 46px;
    }
}

//artist
.tag:hover {
    .tag-en,.tag-tc {
        color: $black;
    }
}
.artist-img {
    background-image: url("../images/artist01.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 213px;
    width: auto;
    @include media-breakpoint-up(lg) {
        width: 100%;
        height: auto;
    }


}
.per-article {
    position: relative;
}
.per-article::before {
    content:"";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 12px solid;
    border-color: $black transparent transparent $black;
    top: 0;
    left: 0;
}
.per-article::after {
    content:"";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 12px solid;
    border-color: $black $black transparent transparent ;
    top: 0;
    right: 0;
}
.article-images {
    .per-image {
        object-fit: cover;
    }
    @include media-breakpoint-up(xl) {
        position: absolute;
        bottom: -60px;
        .image-frame {
            width: 263px;
            height: 270px;
        }
    }
}

//article-filter
.count {
    position: relative;
    &::after {
        position: absolute;
        content:"";
        width: 10px;
        height: 60px;
        background: $white;
        display: block;
        top: 20px;
        right: -5px;
    }
}

//Michael-together
.buying-page-img {
    background-image: url("../images/art21.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    @include media-breakpoint-up(lg) {
        height: 100%;
        width: 100%;
    }
}
.other-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 164px;
    @include media-breakpoint-up(sm) {
        height: 327px;
    }
}
.other-1-img {
    background-image: url("../images/art22.jpg");
}
.other-2-img {
    background-image: url("../images/art27.jpg");
}
.other-3-img {
    background-image: url("../images/art20.jpg");
}
.other-4-img {
    background-image: url("../images/art27.jpg");
}

//market-price-list
.open-detail {
    width: 0;
    height: 0;
    border: 20px solid;
    bottom: 0;
    right: 0;
}
.open-detail-red {
    border-color: transparent $secondary $secondary transparent;
}
.open-detail-black {
    border-color: transparent $black $black transparent;
}